# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science.
* Explain the importance of data visualization.
* Introduce Jupyter Notebooks and Markdown.
* Create code cells and Markdown cells in Jupyter.
* Perform basic arithmetic operations in Python.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Java
5. Julia

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| BigML |

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| BigML |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:

code = compile("5 + 4", "<string>", "eval")
eval(code)

9

In [4]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 24

24

In [5]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

this is a simple arithmetic expression to multiply then add integers.

In [6]:
result = (3*4)+5
print(result)

17

This will convert 200 minutes to hours by diving by 60

In [7]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Naufal Azel Muzakkiy